.gameBaccarat {
    color: #fff;
}
.gameBaccarat_container {
    background: #323143;
    border-radius: 10px;
}
.gameBaccarat_table {
    background: url(../img/baccarat/baccarat-bg.jpg) center;
    background-size: cover;
    position: relative;
    font-family: 'Rubik', sans-serif;
}
.gameBaccarat_table:after {
    content: '';
    display: block;
    padding-top: 55%;
}
.gameBaccarat_block {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    padding: 10px 10%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.gameBaccarat_logo {
    width: 10%;
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translate(-50%,0);
}
.gameBaccarat_logo img {
    width: 100%;
}
.gameBaccarat_col {

}
.gameBaccarat_col--right {
    justify-content: flex-end;
}
.gameBaccarat_col--right .gameBaccarat_counts {
    justify-content: flex-end;
}
.gameBaccarat_pairCard {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 40%;
}
.gameBaccarat_card {
   flex: 1;
   border-radius: 10px;
   -webkit-transition: .3s;
   -o-transition: .3s;
   transition: .3s;
   -webkit-box-shadow: 0 0 10 rgba(0,0,0,.5);
   box-shadow: 0 0 10 rgba(0,0,0,.5);
}
.gameBaccarat_card.invert {
    cursor: pointer;
}
.gameBaccarat_card.invert:hover {
    -webkit-box-shadow: 0 0 6px 3px red;
    box-shadow: 0 0 6px 3px red;
}
.gameBaccarat_card img {
    display: block;
    width: 100%;
}
.gameBaccarat_pairCard--player {
    margin-right: 20%;
}
.gameBaccarat_pairCard--banker {
    margin-left: 20%;
}
.gameBaccarat_counts {
    width: 40%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.gameBaccarat_name {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}
.gameBaccarat_score {
    font-size: 28px;
    font-weight: 500;
    text-shadow: -1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000, 0 2px 10px #ffcc00;
    line-height: 1;
}
.gameBaccarat_circles {
    position: relative;
    flex-grow: 1;
}
.gameBaccarat_circle {
    position: absolute;
    background: linear-gradient(to bottom, #9F2225, #6C1B1E);
    border: 3px solid #F2BF08;
    text-transform: uppercase;
    font-weight: 500;
}
.gameBaccarat_circle.active {
    background: #F91515;
}
.gameBaccarat_circle span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.gameBaccarat_circle--rect {
    width: 13%;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    line-height: 1;
}
.gameBaccarat_circle--rect:after {
    content: '';
    display: block;
    padding-top: 45%;
}
.gameBaccarat_draw {
    width: 10%;
    border-radius: 50%;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    font-size: 10px;
    font-weight: bold;
}
.gameBaccarat_draw:after {
    content: '';
    display: block;
    padding-top: 100%;
}
.gameBaccarat_player {
    width: 22%;
    border-radius: 50%;
    top: 10px;
    left: 24%;
    font-size: 22px;
    font-weight: bold;
}
.gameBaccarat_player:after {
    content: '';
    display: block;
    padding-top: 100%;
}
.gameBaccarat_banker {
    width: 22%;
    border-radius: 50%;
    top: 10px;
    right: 24%;
    font-size: 22px;
    font-weight: bold;
}
.gameBaccarat_banker:after {
    content: '';
    display: block;
    padding-top: 100%;
}
.gameBaccarat_anyPair {
    top: 15px;
    left: 5%;
}
.gameBaccarat_pairPlayers {
    top: 130px;
    left: 5%;
}
.gameBaccarat_perfectPair {
    top: 15px;
    right: 5%;
}
.gameBaccarat_pairBanker {
    top: 130px;
    right: 5%;
}
.gameBaccarat_small {
    left: 20%;
    bottom: 120px;
}
.gameBaccarat_big {
    right: 20%;
    bottom: 120px;
}
.gameBaccarat_ratio {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    font-size: 10px;
    color: #ffcc00;
}
.gameBaccarat_ratio--left {
    right: 110%;
}
.gameBaccarat_ratio--right {
    left: 110%;
}
.gameBaccarat_centerCard {
    width: 20%;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%,0);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.5);
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}
.gameBaccarat_centerCard img {
    width: 100%;
}
.gameBaccarat_chip {
    width: 7.5%;
    border-radius: 50%;
    position: absolute;
    bottom: 25px;
    cursor: pointer;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
    z-index: 2;
}
.gameBaccarat_chip:hover {
    -webkit-box-shadow: 0 0 5px 3px #927417, 0 0 5px 10px #4F2018;
    box-shadow: 0 0 5px 3px #927417, 0 0 5px 10px #4F2018;
    z-index: 1;
}
.gameBaccarat_chip img {
    width: 100%;
}
.gameBaccarat_chip--1 {
    left: 25%;
}
.gameBaccarat_chip--5 {
    left: 33.5%;
}
.gameBaccarat_chip--25 {
    left: 42%;
}
.gameBaccarat_chip--100 {
    right: 42%;
}
.gameBaccarat_chip--500 {
    right: 33.5%;
}
.gameBaccarat_chip--1000 {
    right: 25%;
}
.gameBaccarat_chipValue {
    padding: 3px 5px;
    background: #140c0f;
    border-radius: 7px;
    font-size: 10px;
    font-weight: 500;
    color: transparent;
    white-space: nowrap;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%,0);
}
.gameBaccarat_chipValue span {
    background-image: linear-gradient(to top, #ffcc00 0%, #ffe479 100%);
    -webkit-background-clip: text;
    background-clip: text;
}
.gameBaccarat_num {
    padding: 0.5% 2%;
    background-image: linear-gradient(to top, #fe0000 0%, #f54242 99%, #f54242 100%);
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
    color: #000;
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 3;
}
.gameBaccarat_controll {
    background-color: #373649;
    border-radius: 10px;
}
.gameBaccarat_buttons {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    font-family: 'MontserratMedium';
    font-size: 12px;
    text-transform: uppercase;
}
.gameBaccarat_btn {
    min-height: 42px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    text-align: center;
    flex: 1;
    margin-right: 5%;
    border-radius: 25px;
    background-color: #4b27ba;
    cursor: pointer;
}
.gameBaccarat_btn.bet {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 8px 0 5px;
    border-radius: 10px;
    background: #140c0f;
    font-family: 'Rubik', sans-serif;
    font-size: 11px;
    line-height: 1;
    font-weight: bold;
}
.gameBaccarat_btn.bet span {
    display: block;
    width: 100%;
    background: linear-gradient(to top, #ffcc00 0%, #ffe479 100%);
    font-size: 15px;
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.gameBaccarat_btn:nth-child(1) {
    font-family: 'MontserratRegular';
    font-size: 32px;
}
.gameBaccarat_btn:last-child {
    margin-right: 0;
}
.gameBaccarat_statistics {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    font-size: 13px;
    color: #a9a3ff;
}
.gameBaccarat_info {
    flex: 1;
}
.gameBaccarat_info span {
    display: block;
    color: #d3d3d3;
}
@media (max-width: 1400px) {
    .gameBaccarat_logo {
        width: 70px;
    }
    .gameBaccarat_small {
        bottom: 90px;
    }
    .gameBaccarat_big {
        bottom: 90px;
    }
    .gameBaccarat_pairPlayers {
        top: 90px;
    }
    .gameBaccarat_pairBanker {
        top: 90px;
    }
}
@media (max-width: 768px) {
    .mobile-hide {
        display: none;
    }
    .gameBaccarat_table:after {
        padding-top: 150%;
    }
    .gameBaccarat_block {
        padding: 10px;
        background: url(../img/baccarat/baccarat-bg-mob.jpg) center;
        -webkit-background-size: cover;
        background-size: cover;
    }
    .gameBaccarat_col--left {
        justify-content: flex-end;
        padding-right: 50px;
    }
    .gameBaccarat_col--right {
        justify-content: flex-start;
        padding-left: 50px;
    }
    .gameBaccarat_col--left .gameBaccarat_counts {
        justify-content: flex-end;
    }
    .gameBaccarat_col--right .gameBaccarat_counts {
        justify-content: flex-start;
    }
    .gameBaccarat_pairCard {
        width: 90%;
    }
    .gameBaccarat_pairCard {
        order: 1;
    }
    .gameBaccarat_pairCard--player {
        margin-right: 0;
    }
    .gameBaccarat_pairCard--banker {
        margin-left: 0;
    }
    .gameBaccarat_counts {
        width: 100%;
        order: 0;
        margin-bottom: 10px;
    }
    .gameBaccarat_circles {
        margin-top: 10px;
    }
    .gameBaccarat_circle {
        width: 40%;
    }
    .gameBaccarat_circle--rect {
        width: 23%;
    }
    .gameBaccarat_circle--rect:after {
        padding-top: 55%;
    }
    .gameBaccarat_player {
        left: 1%;
        top: 140px;
    }
    .gameBaccarat_banker {
        right: 1%;
        top: 140px;
    }
    .gameBaccarat_draw {
        width: 20%;
        top: 120px;
    }
    .gameBaccarat_anyPair {
        top: 25px;
        left: 1%;
    }
    .gameBaccarat_pairPlayers {
        top: 25px;
        left: 25%;
    }
    .gameBaccarat_perfectPair {
        top: 25px;
        right: 1%;
    }
    .gameBaccarat_pairBanker {
        top: 25px;
        right: 25%;
    }
    .gameBaccarat_small {
        left: 23%;
        bottom: 140px;
    }
    .gameBaccarat_big {
        right: 23%;
        bottom: 140px;
    }
    .gameBaccarat_ratio--left {
        top: auto;
        bottom: 120%;
        right: 50%;
        transform: translate(50%,0);
    }
    .gameBaccarat_ratio--right {
        top: auto;
        bottom: 120%;
        left: 50%;
        transform: translate(-50%,0);
    }
    .gameBaccarat_small .gameBaccarat_ratio--left {
        top: 50%;
        bottom: auto;
        right: 110%;
        transform: translate(0,-50%);
    }
    .gameBaccarat_big .gameBaccarat_ratio--right {
        top: 50%;
        bottom: auto;
        left: 110%;
        transform: translate(0,-50%);
    }
    .gameBaccarat_centerCard {
        width: 30%;
        top: 130px;
    }
    .gameBaccarat_chip {
        width: 15%;
    }
    .gameBaccarat_chip--1 {
        left: 2.5%;
    }
    .gameBaccarat_chip--5 {
        left: 18.5%;
    }
    .gameBaccarat_chip--25 {
        left: 34.5%;
    }
    .gameBaccarat_chip--100 {
        right: 34.5%;
    }
    .gameBaccarat_chip--500 {
        right: 18.5%;
    }
    .gameBaccarat_chip--1000 {
        right: 2.5%;
    }
    .gameBaccarat_num {
        padding: 0.5% 3%;
        bottom: 50px;
    }
    .gameBaccarat_buttons {
        font-size: 11px;
    }
    .gameBaccarat_btn {
        padding: 0 5px;
        margin-right: 2%;
    }
    .gameBaccarat_btn:nth-child(1) {
        font-size: 28px;
    }
}
@media (min-width: 769px) {
    .mobile-visible {
        display: none;
    }
}
@media (max-width: 550px) {
    .gameBaccarat_small {
        bottom: 120px;
    }
    .gameBaccarat_big {
        bottom: 120px;
    }
}
@media (max-width: 480px) {
    .gameBaccarat_table:after {
        padding-top: 150%;
    }
    .gameBaccarat_anyPair {
        top: 15px;
    }
    .gameBaccarat_pairPlayers {
        top: 15px;
    }
    .gameBaccarat_pairBanker {
        top: 15px;
    }
    .gameBaccarat_perfectPair {
        top: 15px;
    }
    .gameBaccarat_player {
        top: 80px;
    }
    .gameBaccarat_banker {
        top: 80px;
    }
    .gameBaccarat_draw {
        top: 70px;
    }
    .gameBaccarat_centerCard {
        top: 80px;
    }
    .gameBaccarat_small {
        bottom: 90px;
    }
    .gameBaccarat_big {
        bottom: 90px;
    }
    .gameBaccarat_col--left {
        padding-right: 0;
    }
    .gameBaccarat_col--right {
        padding-left: 0;
    }
    .gameBaccarat_col--left .gameBaccarat_counts {
        padding-right: 50px;
    }
    .gameBaccarat_col--right .gameBaccarat_counts {
        padding-left: 50px;
    }
    .gameBaccarat_pairCard--player {
        padding-right: 20%;
    }
    .gameBaccarat_pairCard--banker {
        padding-left: 20%;
    }
    .gameBaccarat_num {
        bottom: 35px;
    }
}
@media (max-width: 380px) {
    .gameBaccarat_table:after {
        padding-top: 165%;
    }
    .gameBaccarat_circle--rect {
        font-size: 10px;
    }
}

.statisticsBaccarat {
    padding: 30px 10%;
    background: url(../img/baccarat/statisticsBaccarat-bg.jpg);
    font-family: Rubik;
}
.statisticsBaccarat_container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.statisticsBaccarat_row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -2px;
}
.statisticsBaccarat_title {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.statisticsBaccarat_col-left {
    width: 69.5%;
}
.statisticsBaccarat_col-right {
    width: 30.5%;
}
.statisticsBaccarat_block:after {
    content: '';
    display: block;
    flex: 1;
}
.statisticsBaccarat_box {
    width: calc(6.25% - 2px);
    margin-right: 2px;
    margin-bottom: 2px;
    background-color: #eeb7c3;
    border: 2px solid #000000;
    position: relative;
}
.statisticsBaccarat_box:after {
    content: '';
    display: block;
    padding-top: 100%;
}
.statisticsBaccarat_circle {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    font-size: 16px;
    font-weight: bold;
}
.statisticsBaccarat_element {
    display: none;
    position: absolute;
    width: 35%;
    height: 35%;
    border-radius: 50%;
}
.statisticsBaccarat_box.red > .statisticsBaccarat_circle {
    background: #be0027;
}
.statisticsBaccarat_box.green > .statisticsBaccarat_circle {
    background: #239300;
}
.statisticsBaccarat_box.blue  > .statisticsBaccarat_circle {
    background: #0330ff;
}
.statisticsBaccarat_item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    flex: 1;
    padding: 2px 5px 2px 14%;
    background-color: #eeb7c3;
    border: 2px solid #000000;
    margin-bottom: 2px;
    font-weight: 700;
    color: #000;
    line-height: 1;
    text-transform: uppercase;
    position: relative;
}
.statisticsBaccarat_element-b {
    width: 10%;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translate(0,-50%);
}
.statisticsBaccarat_element-b:after {
    content: '';
    display: block;
    padding-top: 100%;
}
.statisticsBaccarat_element-b--min {
    width: 5%;
    border: 1px solid #000000;
    margin-left: 2.5%;
}
.statisticsBaccarat_item.red > .statisticsBaccarat_element-b {
    background: #be0027;
}
.statisticsBaccarat_item.blue > .statisticsBaccarat_element-b {
    background: #0330ff;
}
.statisticsBaccarat_item.green > .statisticsBaccarat_element-b {
    background: #239300;
}
.statisticsBaccarat_score {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translate(0,-50%);
}
.statisticsBaccarat_box--b {
    width: calc(4.347826087% - 2px);
}
.statisticsBaccarat_ring {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border: 2px solid transparent;
}
.statisticsBaccarat_element-c {
    display: none;
    width: 35%;
    height: 35%;
    position: absolute;
    border-radius: 50%;
}
.statisticsBaccarat_box.red > .statisticsBaccarat_ring {
    border-color: #be0027;
}
.statisticsBaccarat_box.blue > .statisticsBaccarat_ring {
    border-color: #0330ff;
}
.statisticsBaccarat_box.blue-element > .statisticsBaccarat_element {
    display: block;
    background: #0330ff;
    top: 0;
    left: 0;
}
.statisticsBaccarat_box.red-element > .statisticsBaccarat_element {
    display: block;
    background: #be0027;
    bottom: 0;
    right: 0;
}
.statisticsBaccarat_box.duble-element > .statisticsBaccarat_element {
    display: block;
    top: 0;
    right: 0;
    background: #239300;
}
.statisticsBaccarat_box.duble-element > .statisticsBaccarat_element-c {
    display: block;
    bottom: 0;
    left: 0;
    background: #239300;
}
.statisticsBaccarat_box.center > .statisticsBaccarat_ring:after {
    content: '';
    display: block;
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background: #A67A2F;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@media (max-width: 1400px) {
    .statisticsBaccarat_circle {
        font-size: 13px;
    }
    .statisticsBaccarat_item {
        font-size: 10px;
    }
}
@media (max-width: 768px) {
    .statisticsBaccarat {
        padding: 30px 20px;
    }
}
@media (max-width: 575px) {
    .statisticsBaccarat {
        padding-left: 5px;
        padding-right: 5px;
    }
    .statisticsBaccarat_col-left {
        width: 100%;
    }
    .statisticsBaccarat_col-right {
        width: 100%;
    }
    .statisticsBaccarat_item {
        min-height: 25px;
        padding: 2px 5px 2px 25px;
    }
    .statisticsBaccarat_circle {
        font-size: 10px;
    }
    .statisticsBaccarat_element-b {
        width: 16px;
    }
    .statisticsBaccarat_element-b--min {
        width: 10px;
        margin-left: 3px;
    }
    .statisticsBaccarat_box--b {
        width: calc(6.25% - 2px);
    }
}